## Lab 4 tutorial
資工二 110590034 楊榮鈞

In [1]:
import pandas as pd
import numpy as np
import requests
date = "20230327"
url = f'https://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date={date}&type=ALLBUT0999'
response = requests.get(url)
response_json = response.json()
stock = pd.DataFrame(response_json['data9'], columns=response_json['fields9'])

# 收盤價
rec_st = stock[['證券名稱','收盤價']].copy()
rec_st

          證券名稱     收盤價
0       元大台灣50  121.45
1      元大中型100   57.05
2         富邦科技  109.30
3         元大電子   61.20
4     元大MSCI金融   21.84
...        ...     ...
1185        新麗   20.40
1186       潤泰新   35.50
1187      三發地產   11.85
1188        佳龍   25.65
1189       世紀鋼   97.30

[1190 rows x 2 columns]

In [2]:
# print(type(rec_st.收盤價[0]))
# print(type(rec_st['收盤價']>1000))
replace_map = {",":"", "--":np.nan}
rec_st = rec_st.replace(replace_map, regex=True)
rec_st.收盤價 = pd.to_numeric(rec_st.收盤價, errors='coerce', downcast='float')

data = rec_st[rec_st['收盤價']>1000] # find > 1000
print(data)
print(data.describe())
print('\n大於1000的公司數量 {:d}'.format(data['證券名稱'].count()))
print('\n平均收盤價 {:.1f}'.format(data['收盤價'].mean()))
print('\n股王是', data[data['收盤價'] == data['收盤價'].max()]['證券名稱'])

        證券名稱     收盤價
317   亞德客-KY  1160.0
708      大立光  2260.0
788       創意  1180.0
823    世芯-KY  1260.0
922       祥碩  1190.0
1009      旭隼  1780.0
1051      緯穎  1100.0
               收盤價
count     7.000000
mean   1418.571411
std     436.135590
min    1100.000000
25%    1170.000000
50%    1190.000000
75%    1520.000000
max    2260.000000

大於1000的公司數量 7

平均收盤價 1418.6

股王是 708    大立光
Name: 證券名稱, dtype: object