In [ ]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')
df.drop(['Over18'], axis=1, inplace=True)
df.drop(['EmployeeCount'], axis=1, inplace=True)
df.drop(['StandardHours'], axis=1, inplace=True)

In [3]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1024.865306,2.721769,65.891156,2.729932,2.063946,2.728571,...,3.153741,2.712245,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,602.024335,1.093082,20.329428,0.711561,1.106940,1.102846,...,0.360824,1.081209,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,...,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,491.250000,2.000000,48.000000,2.000000,1.000000,2.000000,...,3.000000,2.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1020.500000,3.000000,66.000000,3.000000,2.000000,3.000000,...,3.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1555.750000,4.000000,83.750000,3.000000,3.000000,4.000000,...,3.000000,4.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,2068.000000,4.000000,100.000000,4.000000,5.000000,4.000000,...,4.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [3]:
categorical_list = [
    'Attrition',
    'BusinessTravel',
    'Department',
    'EducationField',
    'Gender',
    'JobRole',
    'MaritalStatus',
    'OverTime'
]

In [4]:
def get_all_possible_values(df, col):
    return df[col].unique()

In [5]:
convert_dict = {}
for column_name in categorical_list:
    convert_dict[column_name] = get_all_possible_values(df, column_name)

In [6]:
convert_dict

{'Attrition': array(['Yes', 'No'], dtype=object),
 'BusinessTravel': array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object),
 'Department': array(['Sales', 'Research & Development', 'Human Resources'], dtype=object),
 'EducationField': array(['Life Sciences', 'Other', 'Medical', 'Marketing',
        'Technical Degree', 'Human Resources'], dtype=object),
 'Gender': array(['Female', 'Male'], dtype=object),
 'JobRole': array(['Sales Executive', 'Research Scientist', 'Laboratory Technician',
        'Manufacturing Director', 'Healthcare Representative', 'Manager',
        'Sales Representative', 'Research Director', 'Human Resources'],
       dtype=object),
 'MaritalStatus': array(['Single', 'Married', 'Divorced'], dtype=object),
 'OverTime': array(['Yes', 'No'], dtype=object)}

In [7]:
for col, values in convert_dict.items():
    df[col] = df[col].map({value: i for i, value in enumerate(values)})

In [8]:
# show the columns that have large std
df.std()

Age                            9.135373
Attrition                      0.367863
BusinessTravel                 0.665455
DailyRate                    403.509100
Department                     0.527792
DistanceFromHome               8.106864
Education                      1.024165
EducationField                 1.431780
EmployeeNumber               602.024335
EnvironmentSatisfaction        1.093082
Gender                         0.490065
HourlyRate                    20.329428
JobInvolvement                 0.711561
JobLevel                       1.106940
JobRole                        2.323902
JobSatisfaction                1.102846
MaritalStatus                  0.730121
MonthlyIncome               4707.956783
MonthlyRate                 7117.786044
NumCompaniesWorked             2.498009
OverTime                       0.450606
PercentSalaryHike              3.659938
PerformanceRating              0.360824
RelationshipSatisfaction       1.081209
StockOptionLevel               0.852077
TotalWorkingYears              7.780782
TrainingTimesLastYear          1.289271
WorkLifeBalance                0.706476
YearsAtCompany                 6.126525
YearsInCurrentRole             3.623137
YearsSinceLastPromotion        3.222430
YearsWithCurrManager           3.568136
dtype: float64

In [9]:
Y = df['Education']
X = df.drop(['Education'], axis=1)

In [10]:
# normalize all columns
for col in X.columns:
    X[col] = (X[col] - X[col].mean()) / X[col].std()

In [11]:
# split data into 10 subsets
X_subsets = []
Y_subsets = []
for i in range(10):
    X_subsets.append(X.iloc[i::10])
    Y_subsets.append(Y.iloc[i::10])

In [21]:
# train 9 subsets and test on the 10th
from sklearn import linear_model
import matplotlib.pyplot as plt

accuracies = []
for i in range(10):
    X_train = pd.concat(X_subsets[j] for j in range(10) if i != j)
    Y_train = pd.concat([Y_subsets[j] for j in range(10) if i != j])
    X_test = X_subsets[i]
    Y_test = Y_subsets[i]
    # convert to nested list
    # X_train = X_train.values.tolist()
    # Y_train = Y_train.values.tolist()
    print(X_train.shape)
    print(Y_train.shape)
    # print(X_train)
    # break
    # _, _, coefs = linear_model.lars_path(X_train, Y_train, method="lasso", verbose=True)
    # xx = np.sum(np.abs(coefs.T), axis=1)
    # xx /= xx[-1]
    # plt.plot(xx, coefs.T)
    # ymin, ymax = plt.ylim()
    # plt.vlines(xx, ymin, ymax, linestyle="dashed")
    # plt.xlabel("|coef| / max|coef|")
    # plt.ylabel("Coefficients")
    # plt.title("LASSO Path")
    # plt.axis("tight")
    # plt.show()
    # clf = SVC(kernel='linear')
    # clf.fit(X_train, Y_train)
    # accuracies.append(clf.score(X_test, Y_test))
    # print(clf.score(X_test, Y_test))
# print(np.array(accuracies).mean())

(1323, 31)
(1323,)
(1323, 31)
(1323,)
(1323, 31)
(1323,)
(1323, 31)
(1323,)
(1323, 31)
(1323,)
(1323, 31)
(1323,)
(1323, 31)
(1323,)
(1323, 31)
(1323,)
(1323, 31)
(1323,)
(1323, 31)
(1323,)

In [17]:
# Author: Fabian Pedregosa <fabian.pedregosa@inria.fr>
#         Alexandre Gramfort <alexandre.gramfort@inria.fr>
# License: BSD 3 clause

import matplotlib.pyplot as plt
import numpy as np

from sklearn import datasets, linear_model

X, y = datasets.load_diabetes(return_X_y=True)
print(X.shape)
print(y.shape)
print(X)
# print(y.type)
# dfX = pd.DataFrame(X)
# dfX.head()
# print("Computing regularization path using the LARS ...")
_, _, coefs = linear_model.lars_path(X, y, method="lasso", verbose=True)

xx = np.sum(np.abs(coefs.T), axis=1)
xx /= xx[-1]

plt.plot(xx, coefs.T)
ymin, ymax = plt.ylim()
plt.vlines(xx, ymin, ymax, linestyle="dashed")
plt.xlabel("|coef| / max|coef|")
plt.ylabel("Coefficients")
plt.title("LASSO Path")
plt.axis("tight")
plt.show()

(442, 10)
(442,)
[[ 0.03807591  0.05068012  0.06169621 ... -0.00259226  0.01990749
  -0.01764613]
 [-0.00188202 -0.04464164 -0.05147406 ... -0.03949338 -0.06833155
  -0.09220405]
 [ 0.08529891  0.05068012  0.04445121 ... -0.00259226  0.00286131
  -0.02593034]
 ...
 [ 0.04170844  0.05068012 -0.01590626 ... -0.01107952 -0.04688253
   0.01549073]
 [-0.04547248 -0.04464164  0.03906215 ...  0.02655962  0.04452873
  -0.02593034]
 [-0.04547248 -0.04464164 -0.0730303  ... -0.03949338 -0.00422151
   0.00306441]]
.